{#
/**
 * @file gaya_editorial_index.html.twig
 * Default theme implementation to present Gaya Editorial Index default.
 *
 * This template is used when viewing Gaya editorial entity.
 *
 * Available variables:
 * - title: The title of the content
 * - entity_bundle: The bundle of the content
 * - entity_id: The entity_id of the content
 *
 * @see template_preprocess_gaya_editorial_entity()
 * @see template_entity()
 *
 * @ingroup themeable
 */
#}
<div id="{{ entity_bundle }}--{{ entity_id }}"></div>