<div class="col-md-6">
    <a href="{{ url }}" class="post post-2 post-color-2">
       <div class="txt valign">
           <figure>
               {{content.field_image}}

               <span class="arrow"></span>
           </figure>

           <h3>{{ label }}</h3>

           <p>{{content.field_description}}</p>
       </div>
    </a>
</div>
