<div class="container">


        <article class="article">
            <header class="article-header">
                <h1 class="article-title">{{ label }}</h1>

                <div class="standfirst">
                    <p>Restabat ut caesar post haec properaret accitus et abstergendae causa suspicionis sororem. (chapo)</p>
                </div>
            </header>
            <!-- .post-header -->

            <div class="article-focus article-focus-2">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>1’30” pour comprendre l’éducation au(x) droit(s)</h2>

                        <div class="row">
    <div class="col-sm-8">
        <div class="iframe">
            <iframe width="730" height="411" src="https://www.youtube.com/embed/q3bGYljQ5Uw" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</div>
                    </div>
                </div>
            </div>

            <div class="article-content">
                <h2>h2. Heading 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut consectetur deleniti deserunt eligendi impedit iste, itaque laboriosam libero sequi soluta suscipit tempora tenetur totam voluptas. Accusamus deleniti eum voluptas!</p>

                <h3>h3. Heading 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut consectetur deleniti deserunt eligendi impedit iste, itaque laboriosam libero sequi soluta suscipit tempora tenetur totam voluptas. Accusamus deleniti eum voluptas!</p>

                <h4>h4. Heading 4</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut consectetur deleniti deserunt eligendi impedit iste, itaque laboriosam libero sequi soluta suscipit tempora tenetur totam voluptas. Accusamus deleniti eum voluptas!</p>

                <h5>h5. Heading 5</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut consectetur deleniti deserunt eligendi impedit iste, itaque laboriosam libero sequi soluta suscipit tempora tenetur totam voluptas. Accusamus deleniti eum voluptas!</p>

                <h6>h6. Heading 6</h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut consectetur deleniti deserunt eligendi impedit iste, itaque laboriosam libero sequi soluta suscipit tempora tenetur totam voluptas. Accusamus deleniti eum voluptas!</p>

                <h5>List Unordered</h5>
                <ul>
                    <li>Quorum ipse maximam partem illo affinitatis tempore injunxerat caesari</li>
                    <li>Legionum permotus, quas ab itinere asiae syriaeque duabus suam potentiam</li>
                    <li>Dominatumque converterat atque impellit simul infamia duarum</li>
                </ul>

                <h5>List Ordered</h5>
                <ol>
                    <li>Quorum ipse maximam partem illo affinitatis tempore injunxerat caesari</li>
                    <li>Legionum permotus, quas ab itinere asiae syriaeque duabus suam potentiam</li>
                    <li>Dominatumque converterat atque impellit simul infamia duarum</li>
                </ol>

                <div class="row">
    <div class="col-sm-8">
        <div class="iframe">
            <iframe width="730" height="411" src="https://www.youtube.com/embed/q3bGYljQ5Uw" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
</div>

                <div class="article-focus">
                    <h5>List Unordered</h5>

                    <ul>
                        <li>Quorum ipse maximam partem illo affinitatis tempore injunxerat caesari</li>
                        <li>Legionum permotus, quas ab itinere asiae syriaeque duabus suam potentiam</li>
                        <li>Dominatumque converterat atque impellit simul infamia duarum</li>
                    </ul>
                </div>



<div class="post">

    <div class="txt txt-button">
        <div class="inner">

                <h2 class="heading">Manuel d’éducation au(x) droit(s)</h2>



                <div class="standfirst">
                    <p>Ce manuel décrit les objectifs pédagogiques et propose des contenus et des éléments pour faciliter vos interventions.</p>
                </div>



                <p>Et prima post osdroenam quam, ut dictum est, ab hac descriptione discrevimus commagena, nunc euphratensis clementer adsurgit hierapoli, vetere nino et samosata civitatibus amplis inlustris. Coactique aliquotiens nostri pedites ad eos persequendos scandere clivos sublimes etiam si lapsantibus plantis fruticeta prensando vel dumos ad vertices.</p>

        </div>




        <a class="btn icon-download-2" title="Télécharger : Manuel d’éducation au(x) droit(s)" href="#">Télécharger</a>

    </div>


    <figure>
        <img src="http://pix.gaya.fr/540/400/" alt="" />
    </figure>


    </div>



                <h2>Nos partenaire</h2>
                <div class="nav-horizontal">
                    <ul class="list-inline">
                        <li><a href="#"><img src="../images/logo-lemonde.png" alt="Le monde"></a></li>
                        <li><a href="#"><img src="../images/logo-francetelevision.png" alt="France télévision"></a></li>
                        <li><a href="#"><img src="../images/logo-dessinspourlapaix.png" alt="Dessins pour la paix"></a></li>
                        <li><a href="#"><img src="../images/logo-france24.png" alt="France 24"></a></li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="post post-2">
                            <div class="txt">
                                <h2 class="heading">S’inscrire à la newsletter</h2>

                                <p>Vous souhaitez recevoir les dernières nouvelles de notre plateforme, inscrivez-vous !</p>

                                <form action="#">
                                    <div class="form-group">
                                        <label for="f01" class="control-label">Votre email (nom@exemple.fr)</label>
                                        <input id="f01" required="required" aria-required="true" aria-describedby="message-error-name" class="form-control" type="text" />
                                        <button type="submit" class="btn">S'inscrire</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="post post-2 post-color-2">
                            <div class="txt">
                                <h2 class="heading">Contactez-nous</h2>

                                <p>Vous souhaitez devenir intervenant, participer à notre programme ? Contactez-nous !</p>

                                <p><a class="btn" href="">Nous écrire</a> </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="share">


    <p class="text-right">
        <strong>Partager sur </strong>
        <a class="icon-facebook" href=""><span>Facebook</span></a> <a class="icon-twitter" href=""><span>Twitter</span></a>
    </p>
</div>
            </div>
            <!-- .article-content -->
        </article>
    </div>
