<div class="col-sm-4">
    <a class="post" href="{{url}}">
        <figure>
            {{content.field_image}}
        </figure>

        <h2 class="heading">{{ label }}</h2>

        <p class="small"><strong>Auteur</strong> : {{content.field_author}}</p>
    </a>
</div>
