<hr />

            <div class="item">

                    <h2><a href="contributor.html">{{ label }}</a></h2>

<div class="row">

    <div class="col-sm-12">

        <p class="small">
            <strong>Point clés :</strong> Mes droits s'appliquent-ils tout le temps ?<br />
            <strong>Thématiques :</strong> lorem ipsum, lorem ipsum<br />
            <strong>Public :</strong> Encadrants<br />
            <strong>Format :</strong> Power Point<br />
            <strong>Format :</strong> Power Point<br />
            <strong>Auteur :</strong> Lorem Ipsum<br />
            <strong>Publié le :</strong> 31 juillet 2016<br />
        </p>

</div>
</div>

            </div>
