<div class="container">


        <article class="article">
            <header class="article-header">
                <h1 class="article-title">{{ label }}</h1>

                <div class="standfirst">
                    {{ content.field_description }}
                </div>
            </header>
            <!-- .post-header -->
            {{ content.field_paragraphs }}



                <div class="row">
                     {{ content.field_spotlights }}
                </div>

                <div class="share">


    <p class="text-right">
        <strong>Partager sur </strong>
        <a class="icon-facebook" href=""><span>Facebook</span></a> <a class="icon-twitter" href=""><span>Twitter</span></a>
    </p>
</div>
            </div>
            <!-- .article-content -->
        </article>
    </div>
