/**
 * @file
 * Default CSS Gaya Editorial Admin Page
 *
 * @author Sébastien Libbrecht <slibbrecht@gaya.fr>
 */
/* Field Configuration Slideshow */
.field--type-ge-imagesslideshow-configuration .form-item { padding-bottom: 3px; padding-top: 3px; padding-left: 10px; }
.field--type-ge-imagesslideshow-configuration { padding: 15px; margin: 15px; margin-left: 0px; margin-right: 0px; border: 1px solid #ccc; background: #fff; }
/* Field Image Widget Data */
.image-widget-data .form-item { padding-bottom: 3px; padding-top: 3px; padding-left: 25px; }
.ief-form span.file.file--mime-image-jpeg { padding-bottom: 3px; padding-top: 3px; margin-left: 25px; }
.ief-form div.form-type-managed-file { padding: 15px; margin-left: 25px; }
/* Details */
details { background: #fff; }
/* IEF Form */
.ief-form table thead tr th, .adminimal .ief-entity-table thead th { font-weight: bold; color: #000 }
.tabledrag-toggle-weight-wrapper { text-align: right; padding-bottom: 8px; padding-right: 0px; }
.ief-entity-table tr.odd .form-item, .ief-entity-table tr.even .form-item { margin: 0.75em 0; }
.ief-entity-table .text-format-wrapper .form-item.form-type-textarea { margin-bottom: 0px; }
.ief-row-form { border: 1px solid #ccc; }
.ief-row-form > td { background: #fff; padding: 25px; padding-top: 15px; }
table.ief-entity-table { border: 1px solid #ccc; }
table.ief-entity-table .odd { background: #fff; }
.ief-entity-table tbody .ief-row-entity-form > td { font-weight: 700; }