<div class="col-sm-6">
    <div class="post post-2 post-color-2">
        <div class="txt">
            <h2 class="heading">{{content.field_title}}</h2>

            <p>{{content.field_description}}</p>

            <p><a class="btn" href="{{path('ddd_contact.contacts')}}" title="Nous écrire" >{{content.field_button_title}}</a> </p>
        </div>
    </div>
</div>
