<div class="row">
    <div class="col-md-8">
        <div id="carousel-gallery" class="article-gallery owl-carousel owl-theme">
            {{content}}
        </div>
        <!-- .gallery -->
    </div>
</div>

