<div class="col-sm-6">
    <div class="post post-2">
        <div class="txt">
            <h2 class="heading">{{content.field_title}}</h2>

            <p>{{content.field_description}}</p>

            {{ form }}
        </div>
    </div>
</div>
