<div class="col-md-6">
  <div class="post">
    <div class="txt txt-button">
      <div class="inner">
        <h2 class="heading">{{ node_page.title }}</h2>
        <p>{{content.field_description}}</p>
      </div>
      <a class="btn icon-link " title="Découvrir" href="{{ node_page.url }}">Découvrir</a>
    </div>
    <figure>
      {{content.field_image}}
    </figure>
  </div>
</div>
