<div class="gallery-item">
    <figure>
        {{ content.field_image }}

        <figcaption>
            <p>{{ content.field_caption }}</p>
            <p class="small"> {{ content.field_credit }}</p>

            <div class="owl-pager">{{ pager }}</div>
        </figcaption>
    </figure>
</div>
