<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-6">
                    <p class="follow"><strong>Suivre <br />le Défenseur <br />des droits</strong> <a class="icon-facebook" href=""><span>Facebook</span></a> <a class="icon-twitter" href=""><span>Twitter</span></a> </p>
                    <p><a class="external" title="Visiter le site du Défenseur des droits - ouverture dans une nouvelle fenêtre" target="_blank" href="#">Visiter le site du Défenseur des droits</a></p>
                </div>

                <div class="col-sm-6 text-center">
                    <img src="../images/logo-ddd.png" alt="Défenseur des droits" />
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <p>Le Défenseur des droits est une institution de l’Etat complètement indépendante, dont les missions sont de défendre les personnes dont les droits ne sont pas respectés et permettre l’égalité de tous et toutes dans l’accès aux droits.</p>
        </div>
    </div>
</div>
